Source: sunuo-legacy-scripts
Section: non-free/games
Priority: optional
Maintainer: Max Kellermann <max@duempel.org>
Standards-Version: 3.6.1
Build-Depends-Indep: cdbs (>= 0.4.26), debhelper (>= 4.9.1), cli-common (>= 0.1.3), mono-mcs (>= 1.1.7), sunuo (>= 0.3.0)

Package: sunuo-legacy-scripts
Architecture: all
Depends: sunuo (>= 0.3.0)
Description: the basic scripts for SunUO
 SunUO is a free Ultima Online server, based on RunUO.
 .
 This package provides the basic scripts from the RunUO 1.0.0 binary
 distribution.  They have been patched for best cooperation with
 SunUO.
 .
 Home page: http://www.sunuo.org/
